body{
    background-image:  linear-gradient(orange, red,black) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100svh;
      display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
     background-color: orange;
     animation-name: div;
     animation-duration: 9s ;
     animation-iteration-count: infinite;
     /* opacity: 0.5; */

    
}

@keyframes div{
    /* 0%{
        transform: translatey(100px);
        box-shadow: 0px 0px 0px rgba(255, 200, 0, 0); */
    /* } */
  from{ transform: translatey(450px);
        box-shadow: 0px 0px 40px 20px rgba(255, 200, 0, 0.7); 
    }
     to{transform: translatey(-250px);
        box-shadow: 0px 0px 0px rgba(221, 175, 7, 0); 

  }
 } 
